{{#if playing}}
    {{#if winner}}
        <div>
            <p class="result">Player {{winner}} Wins! Well Done</p>
        </div>
    {{/if}}
    {{#if draw}}
        <p>We'll call it a draw then I guess</p>
    {{/if}}
    <button {{action 'start'}}>Restart</button>
{{else}}
    <button {{action 'start'}}>Start</button>
{{/if}}
<canvas id="stage" width="380" height="360"></canvas>