/* Generic Styles */
body {
    font-family: monospace;
    font-size: 12pt;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}
a {
    color: #ffffff;
}
/* Fixed layout for the application */
#app {
    max-width: 360px;
    background: #111111;
    border: 2px solid #000000;
}
/* Header styling */
header h1 {
    background: #a50000;
    color: #ffffff;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}
header h1 a {
    text-decoration: none;
}
/* Result Text Styling */
.result {
    text-align: center;
}

/* Main game area styling */
article {
    height: 400px;
    overflow: hidden;
    color: #ffffff;
    padding: 0.5rem;
    position: relative;
}
article h2 {
    margin: 0;
    text-align: center;
}
/* Footer styling */
footer {
    background: #a50000;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.2rem 0.3rem;
}
footer:after {
    content: ' ';
    display: table;
    clear: both;
}

/*Button Stying*/
button {
    margin: 0 130px;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-size: 1.2rem;
    background-color: #a50000;
    color: #ffffff;
    border: 3px solid #000000;
}

button:hover {
    background-color: #e20000;
}