<section id="app">
    <header>
        <!--Link to the game so the main page can be accessed anywhere-->
        {{#link-to 'game'}}<h1>Connect 4</h1>{{/link-to}}
    </header>
    <article>
        <!--Outlet to insert the game code into the page-->
        {{outlet}}
    </article>
    <footer>
        <div class="float-left">
            Powered By Ember.
        </div>
        <div class="float-right">
            <!--Links to the help page-->
            {{#link-to 'instruction'}}Help and Instructions{{/link-to}}
        </div>
    </footer>
</section>