<!--Page to provide some basic help and troubleshooting instructions incase the user gets stuck at any point while using the application on either a mobile device or desktop device-->
<h2>Help and Instructions</h2>
<ol>
    <li>You are the blue marker/counter player</li>
    <li>A counter may be placed on the board in any empty square</li>
    <li>The end aim is to match 4 of your markers together</li>
    <li>Should the application break while on the desktop, restart the ember server using ctrl+c and then entering "ember serve" into the console when in the webapp folder</li>
    <li>If the application breaks on the mobile device simply re-run the "cordova run --device" command when in the cdvapp folder</li>
</ol>